name: Release CI

on:
  push:
    branches: [ "nixos-**" ]

jobs:
  build:
    name: Run build ${{ matrix.BUILDER }} ${{ matrix.ARCH }}
    runs-on: macos-12
    strategy:
      matrix:
        BUILDER: ['virtualbox-iso.virtualbox', 'qemu.qemu']
        ARCH: ['x86_64']
    steps:
    - uses: actions/checkout@v3

    - name: Create Vagrant Cloud Box
      run: curl 'https://vagrantcloud.com/api/v2/box/nixbox/nixos/version/${GITHUB_REF#refs/heads/nixos-}/provider/virtualbox/amd64/upload?access_token=${{ secrets.ATLAS_TOKEN }}

    - name: Setup `packer`
      uses: hashicorp/setup-packer@main
      id: setup
      with:
        version: "latest"

    - name: Run build ${{ matrix.BUILDER }} ${{ matrix.ARCH }} and push box to vagrant cloud
      env:
        ATLAS_TOKEN: ${{ secrets.ATLAS_TOKEN }}
      run: make VERSION=${GITHUB_REF#refs/heads/nixos-} BUILDER=${{ matrix.BUILDER }} packer-build
